/* components/Layout/Header.module.css */
.header {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #004b87; /* ENU Blue */
    margin-right: 20px; /* Space between logo and search field */
}

.link {
    color: inherit;
    text-decoration: none;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.searchField {
    width: 400px; /* Increased width */
}

.authButtons {
    display: flex;
    gap: 20px;
}

/* New buttonBox class for the logo and buttons with a rounded square */
.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #0056b3;
    border-radius: 10px; /* Rounded corners */
    color: #0056b3;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonBox:hover {
    background-color: #0056b3;
    color: white;
}
